<div id="app">
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Theralogic</a>
    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a href="login" class="nav-link" >Login</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="#" class="nav-link" routerLink="userdetail">{{ person.username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Log Out</a>
      </li>
    </ul>
  </nav>

<router-outlet></router-outlet>

</div>
